# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

.DS_Store

# Virtual environments
.venv/
venv/
env/
ENV/

# VS Code
.vscode/


repo_1_algs_vertical/
Repo_1A_1B_1C___52_text_files_for_12_tunnels/
Repo_1A_1B_1C___50plus_text_files_for_12_tunnels/
MILLIONS_of_input_algS__PythonWidened__from_Repo_1/